

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header image */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/* navigation */
nav{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    margin: 50px 200px ;
}

nav il li{
    text-justify: ;
}
.red{
    color: #FD6E0A;
}

.nav-title{
    font-weight: 800;
    font-size: 43px;
}

nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;

}

.dark-2{
    color: #474747;
}
/* button style */
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    height: 64px;
    padding: 18px 35px;
    border-radius: 5px;
}
/* about section */
.bg{
    background-color: #FFF8F3;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;

}
.section-description{
    font-size: 18px;
    color: #757575;

}

/* banner content */

.banner{
    display: flex;
    justify-content: space-around;
    padding: 0 35px 0 230px;
}
.banner-content{
    max-width: 580px;
    height: 356px;
}
.banner-greetings{
    font-weight: bold;
    font-size: 45px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
    
.banner-profile-pic{
    width: 580px;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
    
}

/* about style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.about-description{
    font-weight: bold;
    font-size: 20px;
    columns: #474747;
}

.title-do{
    text-align: center;
    color: #181818;
    font-weight: bold;
    font-size: 35px;
}
.what-description{
text-align: center;
}

/* skills styles */
.skills-container{  display: flex;
    gap: 24px;
    border-bottom: 200px;
    
}
  
    .skill{
        padding: 30px;
        box-shadow: 0px 6px 50px 0px #000000;
    }
    .text{
        text-align: left;
    }

    /* resume section style */
    .resune-container{
        display: flex;
        gap: 20px;

    }
    .section-title{
        text-align: center;
    }
    .text-center{
        text-align: center;
    }
    